@keyframes myEffect {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.subnav-wrapper {
    animation: 1s ease-out 0s 1 myEffect;
}

.subnav-wrapper a {
    color: black;
    transition-duration: 0.2s;
}

.subnav-wrapper a:hover {
    color: lightskyblue;
}